<nav class="navbar">
    <div class="navbar-brand">ABC BANK</div>
    <ul class="navbar-nav">
        <li><a href="/account">Account</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/send">Send Money</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>